doctype html
html(lang='en')
  head

    style.
      .container {
        padding: 25px;
        text-align: center;
      }
       body{
         background-color:black;
         color: white;
       }
  title Jade    
  
  body

  Hello #{ message }
 
  form(action='/views/login' method='post')
  
    .container
    label(for='uname')
      b Username
    //- input(type='text', placeholder='Enter Username', name='uname', required='', value='<%=qs.uname%>')
    input(type='text', placeholder='Enter Username', name='uname', required='', value='')
    br
    label(for='psw')
      b Password
    //- input(type='password', placeholder='Enter Password', name='psw', required='', value='<%=qs.password>')
    input(type='password', placeholder='Enter Password', name='psw', required='', value='')
    br
    button(type='submit') Login
    
