doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: black;
      }
      * {
      box-sizing: border-box;
      }
      /* Add padding to containers */
      .container {
      padding: 16px;
      background-color: white;
      }
      /* Full-width input fields */
      input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      }
      input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
      }
      /* Overwrite default styles of hr */
      hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
      }
      /* Set a style for the submit button */
      .registerbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 20%;
      opacity: 0.9;
      align:center;
      }
      .registerbtn:hover {
      opacity: 1;
      }
      /* Add a blue text color to links */
      a {
      color: dodgerblue;
      }
      /* Set a grey background color and center the text of the "sign in" section */
      .signin {
      background-color: #f1f1f1;
      text-align: center;
      }
  body
    form( id='register-form' action='/views/register' method='post')
      .container
        h1 Register
        p Please fill in this form to create an account.
        hr
        label(for='name')
          b Name
        //- input(type='text', placeholder='Enter Name', name='username', required='', value='<%= qs.user %>')
        input(type='text', placeholder='Enter Name', name='username', required='', value='')
        label(for='email')
          b Email
        //- input(type='text', placeholder='Enter Email', name='email', required='', value= '<%= qs.email%>')
        input(type='text', placeholder='Enter Email', name='email', required='', value= '')
        label(for='psw')
          b Password
        //- input(type='password', placeholder='Enter Password', name='psw', required='', value= '<%= qs.password%>')
        input(type='password', placeholder='Enter Password', name='psw', required='', value= '')
        hr
        p
          | By creating an account you agree to our 
          a(href='#') Terms & Privacy
          | .
        button.registerbtn(type='submit' value='submit') Register
      .container.signin
        p
          | Already have an account? 
          a(href='/views/login') Sign in
          | .
