doctype html
html(lang='en')
head 
	style.
		body{
			font-family: Arial, Helvetica, sans-serif;
			background-color:black;
		}
		*{
			box-sizing:border-box
		}
		.loginbtn{
			background-color: #4CAF50;
			color: white;
			padding: 16px 20px;
			margin: 8px 0;
			cursor: pointer;
			width: 10%;
			opacity: 0.9;
			align:center;
		}
		.registerbtn{
			background-color: #4CAF50;
			color: white;
			padding: 16px 20px;
			margin: 8px 0;
			cursor: pointer;
			width: 10%;
			opacity: 0.9;
			align:center;
		}

		.container{
			margin-top: 20%;
			text-align:center;
		}
title Jade
body
	.container
	form(action='/views/register')
		button.registerbtn(type='submit') Register
	form(action='/views/login')
		button.loginbtn(type='submit') Login



