doctype html
html(lang='en')
  head

    style.
      .container {
        padding: 25px;
        text-align: center;
      }
       body{
         background-color:black;
         color: white;
       }
  title Jade    
  
  body
    HELLO USER  #{ name }


    //- name: datarecords['users'][i]['name'],
    //-                     email: datarecords['users'][i]['uemail'],
    //-                     pswd: datarecords['users'][i]['upswd']
    
